{% extends 'base.html.twig' %}

{% import 'macros/flag_icons.twig' as flag_icons %}

{% block body %}
    <div>
        <h1>To Do vom {{ todo.createdAt | date('d.m.Y') }}</h1>
        <button class="btn btn-primary flex-end no-print" style="position: absolute; top:100px; right: 50px;"
                onclick="window.print();">
            <i class="fas fa-print mr-1"></i>Drucken
        </button>
        <div class="panel mb-4">
            <div class="row">
                <div class="col">
                    Hier stellen Sie Ihre Maßnahmen zur Verbesserung auf.
                    Halten Sie jede Maßnahme in einem Aktionsplan fest.
                    Das To Do können Sie erst abschließen, wenn alle Aktionspläne dafür beendet oder gelöscht wurden.
                    Hilfreich ist für spätere Qualitäts-Checks eine kurze Notiz, warum ein To Do erledigt oder nicht
                    erledigt werden konnte.
                </div>
            </div>
        </div>
        <div class="panel mb-4">
            <div class="row result">
                <div class="col-9">
                    <h2>{{ todo.name }}</h2>
                </div>
                <div class="col-3 text-right">
                    {% if todo.answer %}
                        <b-button v-b-modal.modal size="md" class="mt-2"><i class="fas fa-lightbulb mr-1"></i> Ideen-Pool öffnen</b-button>
                        <b-modal id="modal" size="lg" title="{{ todo.answer.question.question }}"
                                 ok-title="Schließen" ok-only>
                            {# <h1 class="printOnly">{{ school.name }} | Aktionsplan vom {{ 'now'|date('d.m.Y') }}</h1> #}
                            <button class="btn btn-primary mt-1 no-print"
                                    style="position: absolute; right: 15px; top: -50px;"
                                    onclick="printModal()">
                                <i class="fas fa-print mr-1"></i>Drucken
                            </button>
                            {% for idea in todo.answer.question.ideaboxes.values %}
                                <div class="form-group row">
                                    <div class="col-sm-2">
                                        {% for icon in idea.ideaboxIcons %}
                                            <span class="ml-1"><i class="{{ icon.icon }}"></i></span>
                                        {% endfor %}
                                    </div>
                                    <div class="col-sm-6">{{ idea.idea }}</div>
                                    <div class="col-sm-4 d-flex">
                                        <button onclick="copy('{{ todo.id }}','{{ idea|escape('js') }}')"
                                                id="b_{{ idea }}" type="button"
                                                class="btn-secondary btn-sm ml-auto">Aktionsplan anlegen
                                        </button>
                                    </div>

                                </div>
                            {% endfor %}
                            {% for icon in ideaBoxIcons %}
                                <span class="ml-1">
                                    <i class="{{ icon.icon }}"></i> {{ icon.category }}
                                </span>
                            {% endfor %}
                        </b-modal>
                    {% endif %}
                </div>
                {% if todo.answer %}
                    <div class="col-8">
                        <p class="mb-1">{{ todo.answer.question.category.name }}</p>
                        <h4>{{ todo.answer.question.question }}
                            {% if flag_definitions is defined %}
                                {{ flag_icons.render_flag_icons(todo.answer.question, flag_definitions) }}
                            {% endif %}
                        </h4>
                    </div>

                    <div class="col-4 text-right">
                        <div class="mt-3 {% if todo.answer.calculateAnswer %}{{ todo.answer.calculateAnswer }}{% else %}not_answered{% endif %}">
                            {{ constant('App\\Entity\\QualityCheck\\Answer::ANSWER_LABELS')[todo.answer.calculateAnswer] }}
                        </div>
                    </div>
                {% else %}
                    <div class="col-12">
                        <p>{{ todo.description }}</p>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="panel">
            <div class="d-flex mb-2">
                <h3><i class="fas fa-clipboard-check text-primary2 mr-1"></i>Aktionspläne</h3>
                <div class="ml-auto no-print">
                    <a href="{{ path('quality_circle_todo_action_plan', {id:todo.id}) }}" class="btn btn-secondary">
                        <i class="fas fa-plus mr-1"></i>Aktionsplan anlegen
                    </a>
                </div>
            </div>
            <div class="row">
                {% if todo.actionPlans.count > 0 %}
                    {% for actionPlan in todo.actionPlans %}
                        <div class="col col-lg-6">
                            <div class="card">
                                <div class="card-header">
                                    Aktionsplan vom {{ actionPlan.createdAt | date("d.m.Y") }}
                                    {% if actionPlan.closed %} <strong>beendet</strong>{% endif %}
                                </div>
                                <div class="card-body">
                                    <div class="text-muted">Was?:</div> {{ actionPlan.what | nl2br }}
                                    <div class="text-muted">Wie?:</div> {{ actionPlan.how | nl2br }}
                                    <div class="text-muted mt-2">Wer?:</div> {{ actionPlan.who | nl2br }}
                                    <div class="text-muted mt-2">Wann?:</div> {{ actionPlan.when | date("d.m.Y") }}
                                    {% if actionPlan.note %}
                                        <div class="text-muted mt-2">Notiz:</div> {{ actionPlan.note | nl2br }}
                                    {% endif %}
                                </div>
                                <div class="card-footer d-flex">
                                    {% if not actionPlan.closed %}
                                        <a href="{{ path('quality_circle_todo_action_plan', {id:todo.id, action_plan_id:actionPlan.id}) }}"
                                           class="btn btn-sm btn-secondary mr-2 my-2 no-print">
                                            <i class="fas fa-edit"></i>
                                            Bearbeiten</a>
                                        <a href="{{ path('quality_circle_todo_complete_action_plan', {id:actionPlan.id}) }}"
                                           class="btn btn-sm btn-success mr-2 my-2 no-print">
                                            <i class="fas fa-edit"></i>
                                            Beenden
                                        </a>
                                        <a href="javascript:void(0);"
                                           v-b-modal.modal-delete-action-plan-{{ actionPlan.id }}
                                           class="btn btn-sm btn-danger ml-auto mr-2 my-2 no-print">
                                            <i class="fas fa-trash-alt"></i>
                                            Löschen</a>
                                        <b-modal id="modal-delete-action-plan-{{ actionPlan.id }}"
                                                 title="Aktionsplan löschen"
                                                 @ok="goto('{{ path('quality_circle_todo_delete_action_plan', {id:actionPlan.id}) }}')"
                                                 ok-variant="danger"
                                                 ok-title="Aktionsplan löschen"
                                                 cancel-title="Abbrechen" cancel-variant="primary-light">
                                            <p class="">Möchten Sie den Aktionsplan wirklich löschen?</p>
                                        </b-modal>
                                    {% else %}
                                        Erledigt: {% if actionPlan.completed %}Ja{% else %}Nein{% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="col">Noch keine Aktionspläne vorhanden!</div>
                {% endif %}
            </div>
            <div class="row no-print">
                <div class="col-12">
                    <hr/>
                </div>
                <div class="col-12 d-flex align-items-center">
                    {% if todo.isClosable() %}
                        <a href="{{ path('quality_circle_todo_complete', {id:todo.id}) }}" class="btn btn-success">ToDo
                            beenden</a>
                    {% else %}
                        <button disabled="disabled" class="btn btn-success">ToDo beenden</button>
                        <span class="text-muted mx-2">Es wurde noch kein Aktionsplan erstellt oder noch nicht alle Aktionspläne beendet.</span>
                    {% endif %}
                    <a href="{{ path('quality_circle_home') }}" class="btn btn-warning ml-auto">Zur Übersicht</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        function copy(id, idea) {
            event.preventDefault;
            let href = "{{ path('quality_circle_todo_action_plan', {id:todo.id}) }}";
            window.location.replace(href + '?idea=' + encodeURI('- ' + idea));
        }
    </script>
{% endblock %}
