{% extends 'clear.html.twig' %}

{% block body %}
    <div class="login-box row no-gutters bg-white">
        <div class="d-none d-md-flex col-6 login-teaser"></div>
        <div class="col-12 col-md-6 login-form">
            <img alt="Vernetzungsstelle Schulverpflegung {{ app_state_country|trans }}" src="{{ logo }}" class="vsvb"/>
            <h2 class="text-center text-primary text-uppercase">Portal<br/>Unser Schulessen</h2>
            <p class="text-muted text-center" id="instruction">Bitte geben Sie Ihr neues Passwort an.</p>
            {{ form_start(form) }}
            {{ form_widget(form.password.first, {'label_attr': {'class': 'col'} }) }}
            {{ form_widget(form.password.second, {'label_attr': {'class': 'col'} }) }}
            <small>{{ form_help(form.password) }}</small>

            <div class="text-center mt-1">
                <button type="submit" id="save" name="save" class="btn-primary btn">Senden</button>
            </div>
            {{ form_end(form) }}
            <img src="/img/BMLEH_Fz_2025_WebSVG_de.svg" class="BMELV"/>
        </div>
    </div>
{% endblock %}
