{% extends 'base.html.twig' %}

{% block body %}
    <div class="example-wrapper">
        <a class="btn btn-secondary float-right" href="{{ path('admin_category_new', {id:questionnaire.id}) }}">Kategorie
            hinzufügen</a>
        <h1>{{ questionnaire.name }}</h1>
        <div class="panel">
            <data-table
                    sort-by="order"
                    :sort-desc="false"
                    :fields="[
                    {key: 'name', label: 'Name', sortable: false},
                    {key: 'questions', label: 'Fragen', sortable: false, formatter(value, key, item) {
                        return value + (item.sustainableQuestions > 0 ? ' (' + item.sustainableQuestions + ' zur Nachhaltigkeit)':'');
                    }},
                    {key: 'categories', label: 'Unterkategorien', sortable: false},
                    {key: 'actions', label: 'Optionen', sortable: false, class:'options'}
                ]">
                <template v-slot:cell(categories)="{ row, callAndRefresh }">
                    {{ '{{' }}row.item.categories{{ '}}' }}
                </template>
                <template v-slot:cell(actions)="{ row, callAndRefresh }">
                    <b-button size="sm" :href="'/admin/questionnaire/category/questions/'+row.item.id" class="mb-2">
                        Öffnen
                    </b-button>
                    <b-button size="sm" :href="'/admin/category/edit/'+row.item.id" class="mb-2">
                        Bearbeiten
                    </b-button>
                    <b-button v-if="!row.item.first" @click="callAndRefresh({action:'up', category_id:row.item.id})"
                              size="sm"
                              variant="info" class="mb-2"><i
                                class="fas fa-arrow-up"></i></b-button>
                    <b-button v-if="!row.item.last" @click="callAndRefresh({action:'down', category_id:row.item.id})"
                              size="sm"
                              variant="info" class="mb-2"><i
                                class="fas fa-arrow-down"></i>
                    </b-button>
                    <b-button v-b-modal="'modal-'+row.item.id" size="sm" variant="danger" class="mb-2"
                              v-if="row.item.state == {{ constant('App\\Entity\\QualityCheck\\Questionnaire::STATE_NEW') }}">
                        <i class="far fa-trash-alt"></i>
                    </b-button>
                    <!-- Modal Component -->
                    <b-modal :id="'modal-'+row.item.id"
                             @ok="callAndRefresh({action:'delete_category', category_id:row.item.id})"
                             title="Kategorie löschen" ok-variant="danger" ok-title="Löschen" cancel-title="Abbrechen">
                        <p class="my-4">Möchten Sie die Kategorie '{{ '{{' }}row.item.name{{ '}}' }}' wirklich
                            löschen?</p>
                    </b-modal>
                </template>
            </data-table>
        </div>
    </div>
{% endblock %}
