<div class="col-12 mb-4">
    <div class="panel h-100">
        <h2><i class="fas fa-chart-bar text-primary2 mr-1"></i>Aktuelle Teller-Checks</h2>
        <div class="mb-2">Hier finden Sie alle aktuell laufenden Teller-Checks und können Teller-Checks starten.</div>
        <data-table
                api-url="{{ path('food_survey_list') }}"
                sort-by="createdAt"
                :sort-desc="true"
                :per-page="10"
                :fields="[
                        {key: 'name', label: 'Name', sortable: true},
                        {key: 'numberOfParticipants', label: 'Teilnehmer', sortable: true},
                        {key: 'createdAt', label: 'Zeitraum', sortable: true,
                        formatter: (value, key, item) => {
                        if(item.state === {{ constant('App\\Entity\\Survey\\Survey::STATE_ACTIVE') }}) {
                        return moment(item.activatedAt.date).format('DD.MM.YYYY HH:mm') + ' bis ' +
                        (item.closesAt ? moment(item.closesAt.date).format('DD.MM.YYYY  HH:mm') : 'offen');
                        } else {
                        return 'noch nicht gestartet';
                        }
                        }
                        },
                        {key: 'options', label: 'Optionen', sortable: false, class:'options text-right'}
                        ]">
            <template v-slot:cell(options)="{ row, callAndRefresh }">
                {% if is_granted('ROLE_MENSA_AG')
                    or is_granted('ROLE_CONSULTANT')
                    or is_granted('ROLE_KITCHEN')
                %}
                    {% if is_granted('ROLE_MENSA_AG')
                        or is_granted('ROLE_KITCHEN')
                    %}
                        <a v-if="row.item.state=={{ stateNotActivated }}"
                           class="btn btn-success btn-sm"
                           :href="'/food-survey/state/{{ stateActive }}/'+row.item.id"
                           v-b-tooltip.hover.right.v-success
                           title="Der Teller-Check wird veröffentlicht. Für die Verbreitung bitte die Adresse kopieren.">
                            <i class="far fa-check-circle mr-1"></i>Aktivieren</a>
                    {% endif %}

                    <b-button-group size="sm">
                        <b-button v-if="row.item.state=={{ stateNotActivated }}" size="sm" variant="secondary"
                                  :href="'/food-survey/creator/'+row.item.id">
                            <i class="fas fa-edit mr-1"></i>Bearbeiten
                        </b-button>
                        <b-button
                                v-if="row.item.state=={{ stateActive }}"
                                variant="secondary"
                                :href="'/food-survey/result/'+row.item.id" title=""><i
                                    class="fas fa-chart-bar mr-1"></i>Auswertung
                        </b-button>

                        <b-dropdown size="sm" right text="" v-b-tooltip.hover.right.v-danger
                                    title="Ermöglicht weitere Optionen der Bearbeitung des Teller-Checks.">
                            <b-dropdown-item
                                    v-if="row.item.state=={{ stateNotActivated }}"
                                    variant="primary" target="_blank"
                                    :href="'/Essensumfrage/'+row.item.uuid" title=""><i
                                        class="fas fa-external-link-alt mr-1"></i>Vorschau
                            </b-dropdown-item>
                            <b-dropdown-item
                                    v-if="row.item.state=={{ stateActive }}"
                                    variant="primary" target="_blank"
                                    :href="'/Essensumfrage/'+row.item.uuid" title=""><i
                                        class="fas fa-external-link-alt mr-1"></i>Öffnen
                            </b-dropdown-item>
                            <b-dropdown-item variant="info" @click="copyTextToClipboard(row.item.uuid)">
                                <i class="fas fa-copy mr-1" title=""></i>Id kopieren
                            </b-dropdown-item>
                            <b-dropdown-item
                                    v-if="row.item.state=={{ stateNotActivated }}"
                                    variant="danger"
                                    :href="'/food-survey/delete/'+row.item.id" title=""><i
                                        class="fas fa-trash mr-1"></i>Löschen
                            </b-dropdown-item>
                            {#                            {% if is_granted('ROLE_SCHOOL_AUTHORITIES_ACTIVE') %} #}
                            <b-dropdown-item variant="danger"
                                             v-if="row.item.state=={{ stateActive }}"
                                             :href="'/food-survey/state/{{ stateClosed }}/'+row.item.id">
                                <i class="fas fa-sign-out-alt mr-1" title=""></i>Beenden
                            </b-dropdown-item>
                            {#                            {% endif %} #}
                        </b-dropdown>
                    </b-button-group>
                {% else %}
                    <b-button
                            v-if="row.item.state=={{ stateActive }}"
                            variant="primary" target="_blank" size="sm"
                            :href="'/Essensumfrage/'+row.item.uuid"><i
                                class="fas fa-external-link-alt mr-1"></i>Öffnen
                    </b-button>
                    <b-button
                            v-if="row.item.state=={{ stateActive }}"
                            variant="secondary" size="sm"
                            :href="'/food-survey/result/'+row.item.id"><i
                                class="fas fa-chart-bar mr-1"></i>Auswertung
                    </b-button>
                {% endif %}
            </template>
        </data-table>
    </div>
</div>
