{% extends 'base.html.twig' %}

{% form_theme form _self %}

{%- block _break_times_general_opening_hours_row -%}
    <div class="form-group row">{#--#}
        <label for="{{ id }}" class="col-sm-3 col-form-label required">{{- label -}}</label>
        <div class="{{ block('form_group_class') }}">
            {{- form_widget(form) -}}
        </div>
    </div>
{%- endblock _break_times_general_opening_hours_row -%}

{% block body %}
    <div class="example-wrapper">
        <h1>Stammdaten: Bestellsystem</h1>
        <div class="panel">
            {{ include('master_data/forms/step_bar.html.twig') }}
            <div class="row">
                <div class="d-none d-xl-block col-xl-1"></div>
                <div class="col-xl-10">
                    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                    {{ form_row(form.period) }}
                    {{ form_row(form.ordering_type) }}
                    {{ form_row(form.ordering_cancellation) }}

                    <div class="form-group row">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-9 d-flex">
                            {% if step > 1 %}
                                <button type="submit" id="back" name="back" class="btn-primary btn">Zurück</button>
                            {% endif %}
                            {% if step < max_steps %}
                                <button type="submit" id="next" name="next" class="btn-primary btn ml-2">Weiter</button>
                            {% else %}
                                <button type="submit" id="finalise" name="finalise" class="btn-warning btn ml-2">Finalisieren</button>
                            {% endif %}
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
                <div class="d-none d-xl-block col-xl-1"></div>
            </div>
        </div>
    </div>
{% endblock %}
