{% extends 'base.html.twig' %}

{% form_theme form _self %}

{%- block _break_times_general_opening_hours_row -%}
    <div class="form-group row">{#--#}
        <label for="{{ id }}" class="col-sm-3 col-form-label required">{{- label -}}</label>
        <div class="{{ block('form_group_class') }}">
            {{- form_widget(form) -}}
        </div>
    </div>
{%- endblock _break_times_general_opening_hours_row -%}

{% block body %}
    <div class="example-wrapper">
        <h1 class="d-inline-block">Stammdaten: Anbieter und Vertragsdauer</h1> <span class="text-muted">mit <span class="text-danger">*</span> gekennzeichnete Felder sind Pflichtfelder</span>
        <div class="panel">
            {{ include('master_data/forms/step_bar.html.twig') }}
            <div class="row">
                <div class="d-none d-xl-block col-xl-1"></div>
                <div class="col-xl-10">
                    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                    <div class="form-group row">
                        <label for="term_of_contract_start"
                               class="col-sm-3 col-form-label">Der aktuelle Vertrag für die Erbringung der
                            Leistungen zur Schulverpflegung beginnt am</label>
                        <div class="col-sm-9 d-flex align-items-center">{{- form_widget(form.start) -}}
                            <div class="d-flex mx-2"> bis</div>{{- form_widget(form.end) -}}
                        </div>
                        <div class="col-sm-9 offset-sm-3">
                            {{- form_errors(form.start) -}}
                            {{- form_errors(form.end) -}}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="term_of_contract_start"
                               class="col-sm-3 col-form-label">Speisenanbieter</label>
                        <div class="col-sm-9 d-flex align-items-center">{{- form_widget(form.catering_provider) -}}</div>
                    </div>
                    <div class="form-group row">
                        <label for="term_of_contract_start"
                               class="col-sm-3 col-form-label">(Mail-)Kontakt)</label>
                        <div class="col-sm-9 d-flex align-items-center">{{- form_widget(form.catering_provider_mail) -}}</div>
                    </div>
                    <div class="form-group row">
                        <label for="term_of_contract_start"
                               class="col-sm-3 col-form-label">Telefonnummer</label>
                        <div class="col-sm-9 d-flex align-items-center">{{- form_widget(form.catering_provider_phone) -}}</div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-9 d-flex">
                            {% if step > 1 %}
                                <button type="submit" id="back" name="back" class="btn-primary btn">Zurück</button>
                            {% endif %}
                            {% if step < max_steps %}
                                <button type="submit" id="next" name="next" class="btn-primary btn ml-2">Weiter</button>
                            {% else %}
                                {% if readonly %}
                                    <button type="submit" id="close" name="close" class="btn-warning btn ml-2">
                                        Schließen
                                    </button>
                                {% else %}
                                    <button type="submit" id="finalise" name="finalise" class="btn-warning btn ml-2">
                                        Finalisieren
                                    </button>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
                <div class="d-none d-xl-block col-xl-1"></div>
            </div>
        </div>
    </div>
{% endblock %}
